.feedback-form {
  display: flex;
  flex-direction: column;
  width: 385px;
  padding: 12px;
  border: 1px solid rgb(116, 117, 118);
  border-radius: 4px;
  margin: 0 auto;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  border-radius: 4px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
input {
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #2e2f42;
}
textarea {
  border-radius: 4px;
  width: 360px;
  height: 80px;
  resize: none;
  padding: 10px;
  border: 1px solid #2e2f42;
}
input:hover {
  border: 2px solid #2e2f42;
}
button {
  width: 95px;
  height: 40px;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
button:hover {
  background-color: #6c8cff;
}

.go-to-home {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: #3498db;
  color: white;
  border: 2px solid gray;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.go-to-home:hover {
  background-color: #2980b9;
  color: #fff;
}
